.h5{
    width: 460px;
    height: 500px;
    margin: 110px auto;
    background: #fff;
    padding: 20px 50px;
}
.h5 h1{
    text-align: center;
    line-height: 50px;
    font-size: 22px;
}

input {
    height: 30px;
    font-size: 14px;
    color: #333;
    border: 1px solid #CCC;
    box-sizing: border-box;
    width: 380px;
    padding-left: 10px;
}
meter, progress {
    width:380px;
}
.btn {
    margin-top: 10px;
}
.btn input {
    color: #FFF;
    background-color: green;
    border: 0 none;
    outline: none;
    cursor: pointer;
}
#submit{
    width: 80px;
    height: 40px;
    background: #899bff;
    color:#fff;
}